<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FichaFada</title>
</head>
<body>

    <h1>Ficha do Jogador</h1>


    <input type="text" class="cabecalho" id="nome_personagem" placeholder="Nome do Personagem">
     <br>
    <input type="text" class="cabecalho" id="classe_personagem" placeholder="Classe do Personagem">
    <input type="number" class="cabecalho" id="hp" placeholder="seu hp">
    <input type="number" class="cabecalho" id="Cde" placeholder="Condição de existência">
    
    <label for="Moral">Sua Moral</label>

    <select name="cat_moral" id="moral">
        <option value="0">Otimista</option>
        <option value="0">Motivado</option>
        <option value="0">Neutro</option>
        <option value="0">Desmotivado</option>
        <option value="0">Miserável</option>
        <option value="0">Por quê eu existo?</option>
       
        
    </select> 

    <h3 class="stats" id="stat_sobre">Sobrevivência</h3>
    <h3 class="stats" id="stat_for">For</h3>
    <h3 class="stats" id="stat_con">Con</h3>
    <h3 class="stats" id="stat_Int">Int</h3>
    <h3 class="stats" id="stat_Eru">Eru</h3>
    <h3 class="stats" id="stat_Car">Car</h3>
    <h3 class="stats" id="stat_Dex">Dex</h3>

    <form method="post" action="">
        
        <input type="number" name="For" placeholder="For">
        <input type="number" name="Con" placeholder="Con">
        <input type="number" name="Int" placeholder="Int">
        <input type="number" name="Eru" placeholder="Eru">
        <input type="number" name="Car" placeholder="Car">
        <input type="number" name="Dex" placeholder="Dex">
        <input type="number" name="Sob" placeholder="Sob">
        

        <button> Enviar </button>

    </form>

    <form method="post" action="">
    <table class="editable">
        <!-- (A) HEADER -->
        <thead>
          <tr>
            <th>Perícias</th>
            <th>Bônus</th>
          </tr>
        </thead>
       
        <!-- (B) DATA -->
        <tbody>
          <tr>
            <td>Misticidade</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Intuição</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Engenhosidade</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Lógica</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Briga/luta</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Arrombamento(for)</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Atletismo</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Tática</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Conhecimento</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Criaturas</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Tratamento</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Percepção</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Apresentação</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Enganação</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Intimidação</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Liderança</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Resistência(física)</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Manobra</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Resiliência(emocional)</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Acrobacia</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Reflexo</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Furtividade</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Roubar</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
          <tr>
            <td>Arrombamento(dex)</td>
            <td><input type="number" name="For" placeholder=""></td>
          </tr>
        </tbody>
      </table>
    
      <button> Enviar </button>
    </form>

    <br>

    <table class="editable">
        <thead>
          <tr>
            <th>Inventário</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="espaço01"></td>
          </tr>
        </tbody>
    </table>
</body>
</html>